header {
  background-color: #622EA3
}
body {
  background: lightgray;
}

h1 {
  font-family: lobster, arial;
  font-size: 50px;
  color: #622EA3;
}

h2 {
  font-size: 30px;
}

p {
  font-size: 25px;
}
.solid {
  border-style: solid;
  border-color: #622EA3;
}
